<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a047fe46-da68-40e0-b000-41a2833f57c1" Alias="ArticulateArchive" Level="1">
  <Info>
    <Name>Articulate Archive</Name>
    <Icon>icon-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="100c71ff-f6ca-4578-b1c7-12d520790852" SortOrder="0">ArticulateMarkdown</ContentType>
    <ContentType Key="69394a82-287d-43f4-8743-edd1565f35f8" SortOrder="1">ArticulateRichText</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>578d1ae6-95a1-4ba1-828f-e0714437c57b</Key>
      <Name>Hide from Top Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>76df3e7d-57de-40aa-be23-2c6b0f6eac08</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2dc8f9a-c6bd-4629-bc73-6d7674369758</Key>
      <Name>Umbraco Url Name</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Umbraco Url Name for this node, this will be the prefix URL for each blog post]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>