<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="03b2ee2c-7f88-47f7-baef-ea8b11815bbd" Alias="ArticulateAuthors" Level="1">
  <Info>
    <Name>Articulate Authors</Name>
    <Icon>icon-user-females-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="12658196-0226-448e-9d6b-f805a86723a9" SortOrder="0">ArticulateAuthor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>