<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b04d0ab-a275-497e-8cef-47112b967592" Alias="Articulate" Level="1">
  <Info>
    <Name>Articulate</Name>
    <Icon>icon-voice color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a047fe46-da68-40e0-b000-41a2833f57c1" SortOrder="0">ArticulateArchive</ContentType>
    <ContentType Key="03b2ee2c-7f88-47f7-baef-ea8b11815bbd" SortOrder="1">ArticulateAuthors</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>21f24a88-e9bc-4eeb-860e-c6fde8729ebc</Key>
      <Name>Blog Banner</Name>
      <Alias>blogBanner</Alias>
      <Definition>c8f535ee-27b8-4d16-940d-d6c523851bb1</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional blog banner]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Style</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87953dda-c264-404b-8064-60fb3dd76cc3</Key>
      <Name>Blog Description</Name>
      <Alias>blogDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d324fb62-9326-4c14-8384-b2f6367e8180</Key>
      <Name>Blog Logo</Name>
      <Alias>blogLogo</Alias>
      <Definition>c8f535ee-27b8-4d16-940d-d6c523851bb1</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional logo]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Style</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a23511b-71e4-4029-b858-4901b5a099fe</Key>
      <Name>Blog Title</Name>
      <Alias>blogTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e3dc4f0-cccb-44cb-a6b1-7775436f6de2</Key>
      <Name>Categories Page Name</Name>
      <Alias>categoriesPageName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page title for the categories listing]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0044be9d-25d4-4afe-9636-c18fbc9ac994</Key>
      <Name>Categories Url Name</Name>
      <Alias>categoriesUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87a02d71-163f-479f-a8d5-f95545730b97</Key>
      <Name>Custom RSS Feed Url</Name>
      <Alias>customRssFeedUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional custom rss feed URL (i.e. if you use feedburner, etc...)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cec20e89-6aaa-4230-b943-e2837215f7ae</Key>
      <Name>Disqus Shortname</Name>
      <Alias>disqusShortname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c1cd91c-1d34-4428-95b6-9126636205e4</Key>
      <Name>Extract First Image to Property</Name>
      <Alias>extractFirstImage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When Windows Live Writer (or compatible WebBlog API tool) is used to create blog posts, with this option enabled it will set the first image found in the blog post to the blog's image property if one is found.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>MetaWeblog options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>210a2265-ff7e-4ddd-9b09-6a94d7ed6c07</Key>
      <Name>Google Analytics Id</Name>
      <Alias>googleAnalyticsId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Your Google Analytics Id (i.e. UA-123456789 )]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03a1622e-4867-49f7-88c3-8f66ddba02a1</Key>
      <Name>Google Analytics Name</Name>
      <Alias>googleAnalyticsName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The site name associated with your Google Analytics (i.e. mysite.com )]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21aba1a5-0ede-4e18-b479-6f5d25582864</Key>
      <Name>PageSize</Name>
      <Alias>pageSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36f87a5d-16eb-4503-b885-a48eb0e7808e</Key>
      <Name>Redirect Archive</Name>
      <Alias>redirectArchive</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If specified this will redirect the Archive blog post container URL to this Articulate blog root]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e05908d-dfed-4a26-96d2-68abdbe338f3</Key>
      <Name>Search Page Name</Name>
      <Alias>searchPageName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page title for the search results]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a5dbfbcb-d1ba-4c9e-aeb2-6f186ca57e8b</Key>
      <Name>Search Url Name</Name>
      <Alias>searchUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b27c57f-2e51-4c24-ab47-b8a00e40a709</Key>
      <Name>Tags Page Name</Name>
      <Alias>tagsPageName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page title for the tags listing]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4cb9cebd-3cba-4625-9f7b-c352bcbb4be6</Key>
      <Name>Tags Url Name</Name>
      <Alias>tagsUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6f1de29-74e5-4b8a-a843-7acc29008e33</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>8b57d00e-5593-45d3-affe-24203b239bd3</Definition>
      <Type>ArticulateThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Style</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6952c9b3-12fd-4610-866f-5ab2fdf451a9</Key>
      <Name>Hide from Top Navigation?</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>542a56c2-8c70-4e0b-90a4-6f21e201e20b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Blog</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e679621-ef06-4a47-a475-e3fb0d2a0b0f</Key>
      <Name>Use yyyy/mm/dd format for Url</Name>
      <Alias>useDateFormatForUrl</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If specified, this will generate posts' urls in the /yyyy/mm/dd/slug format, ie 2017/06/09/codegarden-rocks]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Customize</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Blog</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Customize</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Style</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>MetaWeblog options</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>