<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="100c71ff-f6ca-4578-b1c7-12d520790852" Alias="ArticulateMarkdown" Level="2">
  <Info>
    <Name>Articulate Markdown</Name>
    <Icon>icon-post-it color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="201a020a-866a-4885-beb8-5b537f77191c">ArticulatePost</Parent>
    <Compositions>
      <Composition Key="201a020a-866a-4885-beb8-5b537f77191c">ArticulatePost</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>06dc221d-f8ec-48dc-848c-2fe6ea3556c0</Key>
      <Name>Markdown</Name>
      <Alias>markdown</Alias>
      <Definition>31d931c7-ce89-40a1-934e-664be25a1e8c</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>