<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69394a82-287d-43f4-8743-edd1565f35f8" Alias="ArticulateRichText" Level="2">
  <Info>
    <Name>Articulate Rich Text</Name>
    <Icon>icon-post-it color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="201a020a-866a-4885-beb8-5b537f77191c">ArticulatePost</Parent>
    <Compositions>
      <Composition Key="201a020a-866a-4885-beb8-5b537f77191c">ArticulatePost</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>43f466e7-f838-47c7-b8d5-c43d0ea67d6b</Key>
      <Name>Rich Text</Name>
      <Alias>richText</Alias>
      <Definition>dbcb0707-021d-4cd4-ba8b-5cc891516c28</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>