<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4ce04b0-8f43-43fb-92ee-0c688f7d212b" Alias="bannerWithText" Level="3">
  <Info>
    <Name>Banner With Text</Name>
    <Icon>icon-remove color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content/Billboard</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>87c807e0-6eec-4607-8621-fbe6871ae991</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>d7a9bb78-f449-4987-ba1a-093dcee95cb3</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cfcd2f43-53ec-4f95-9e41-34f7f2362880</Key>
      <Name>Banner Text</Name>
      <Alias>bannerText</Alias>
      <Definition>212a969a-235a-4a00-afd2-cce70dc18fdd</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a434ef90-ff6f-47e6-b807-96ac7dea9e38</Key>
      <Name>Button Text</Name>
      <Alias>buttonText</Alias>
      <Definition>0a93155b-fc7a-41bd-ab77-7db49beae05c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd745044-f38c-4ae6-8b3b-5ac7a2c72038</Key>
      <Name>Custom Class</Name>
      <Alias>customClass</Alias>
      <Definition>4c3495f3-af2b-4ff1-9fc6-0dceffb9db98</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7733c86-3f07-4553-a562-b05c0fed1513</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>29b7b46d-2cb8-4cd9-a42f-638b557a2aa0</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>129890b8-53c8-4c49-a855-83c8f155424c</Key>
      <Name>Margin</Name>
      <Alias>margin</Alias>
      <Definition>024c0732-6f37-4ea1-9db4-403baeeb81b3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59fc1b66-c2c7-4f7c-8d8c-7a1decb7adf5</Key>
      <Name>Padding</Name>
      <Alias>padding</Alias>
      <Definition>200a339c-7085-4627-b7d3-b95c327df0e0</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>