<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="83915829-87ac-477e-be42-715910663831" Alias="billboard" Level="3">
  <Info>
    <Name>Billboard</Name>
    <Icon>icon-billboard color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content/Billboard</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dc9d4639-97fe-4d7c-a09b-80c55f8f5065</Key>
      <Name>Billboard Options</Name>
      <Alias>billboardOptions</Alias>
      <Definition>2f68c7f0-30b0-4d36-bc60-a4c0bc2d9f52</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Billboard</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31bb067f-c6a0-4227-afe8-cb85429c26dc</Key>
      <Name>Umbraco Navi Hide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>94e8bc49-f4bd-4ecf-99a7-2cf994d7429d</Definition>
      <Type>NestingContently</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Billboard</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Billboard</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>