<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e81273c-5b5b-4abf-88d2-c510e8406a11" Alias="button" Level="3">
  <Info>
    <Name>Button</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content/Buttons</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b3d517ea-23a1-40c1-82c1-5627b1e2c0a5</Key>
      <Name>Button Color</Name>
      <Alias>buttonColor</Alias>
      <Definition>d7a9bb78-f449-4987-ba1a-093dcee95cb3</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>505c1849-6dc2-499a-aa81-a35d24b6fc24</Key>
      <Name>Link/Button</Name>
      <Alias>buttonLink</Alias>
      <Definition>02ef1a54-1278-4997-977d-7eb14b96646a</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Button</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>