<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df21fb62-9135-4fd8-b3e9-a42fce340b23" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="528a85e3-7cd8-4f62-aed2-df956b11d758">master</Composition>
      <Composition Key="e19ff6e2-c165-43a5-813a-4c35071d9817">modules</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="285555e9-b465-4f3a-ad15-57a07c717e84">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4b04d0ab-a275-497e-8cef-47112b967592" SortOrder="0">Articulate</ContentType>
    <ContentType Key="df21fb62-9135-4fd8-b3e9-a42fce340b23" SortOrder="1">contentPage</ContentType>
    <ContentType Key="3706bdb8-641e-49bc-a3c1-bd3c8b99b009" SortOrder="2">landingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f7056101-4c65-467c-9f0a-71e21a2c921c</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If not headline is entered, headline will be page name]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Billboard</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ae81f42-9645-41e2-aa0d-58ac4c850885</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Billboard</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Billboard</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>