<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30f7d763-ffa1-494b-8dd3-0e117d8bf471" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="528a85e3-7cd8-4f62-aed2-df956b11d758">master</Composition>
      <Composition Key="e19ff6e2-c165-43a5-813a-4c35071d9817">modules</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3a6417f7-6f64-4b53-ba2b-cc31f9d0e506">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="df21fb62-9135-4fd8-b3e9-a42fce340b23" SortOrder="0">contentPage</ContentType>
    <ContentType Key="4b04d0ab-a275-497e-8cef-47112b967592" SortOrder="1">Articulate</ContentType>
    <ContentType Key="3706bdb8-641e-49bc-a3c1-bd3c8b99b009" SortOrder="2">landingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a5cc0901-1675-416c-88a6-fe04a3e27a92</Key>
      <Name>JSON LD</Name>
      <Alias>jSONLD</Alias>
      <Definition>ba842df9-af50-41bc-816d-229fb3a0ec76</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>SEO/General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO/General</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>