<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af3a7ed4-b6fa-4759-a44f-770438545425" Alias="marginPadding" Level="3">
  <Info>
    <Name>Margin/Padding</Name>
    <Icon>icon-navigation color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content/Boilerplate</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6a5d7bcf-89ab-4530-8edf-36b003e6fd98</Key>
      <Name>Custom Class</Name>
      <Alias>customClass</Alias>
      <Definition>4c3495f3-af2b-4ff1-9fc6-0dceffb9db98</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>53</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e19102ed-fa8b-4f6d-8880-9dd8d03b4354</Key>
      <Name>Custom ID</Name>
      <Alias>customID</Alias>
      <Definition>6000660f-2680-4581-812d-4f309246df1e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>52</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>272aeb54-3019-4c85-954a-d02b12c21a53</Key>
      <Name>Margin</Name>
      <Alias>margin</Alias>
      <Definition>024c0732-6f37-4ea1-9db4-403baeeb81b3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Margin and Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2e3fd94-670a-4b4a-bf04-c9c140a71663</Key>
      <Name>Padding</Name>
      <Alias>padding</Alias>
      <Definition>200a339c-7085-4627-b7d3-b95c327df0e0</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Margin and Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Margin and Padding</Caption>
      <SortOrder>50</SortOrder>
    </Tab>
    <Tab>
      <Caption>Properties</Caption>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>