<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e19ff6e2-c165-43a5-813a-4c35071d9817" Alias="modules" Level="1">
  <Info>
    <Name>Modules</Name>
    <Icon>icon-paper-bag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0d8304a5-c645-47a1-9b80-53bcf4462163</Key>
      <Name>Page Builder</Name>
      <Alias>contentRows</Alias>
      <Definition>db9d5907-f5d1-451c-a6d5-6843f1b5329e</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Click 'Add content' to add a module and fill out the forms accordingly.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Page Builder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Page Builder</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>