<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="709855c1-245a-458b-bb5e-1b9bd2474890" Alias="siteSettings" Level="1">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-umb-developer color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5770a6fe-66b1-43d1-b31e-fe67aa45fcdd</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>1df0f4aa-7d97-4a29-826e-885787ff2b2b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Company Address/Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bcbfebdf-ffb9-4609-9144-21b3af1e5a46</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>42b0ecfa-bfc3-4a6b-bc15-c2bf195316f4</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3478ccd-5bc4-405a-843f-661a659e1c2c</Key>
      <Name>Button Color</Name>
      <Alias>buttonColor</Alias>
      <Definition>a9dc8dd2-9a2d-490d-8c3f-00811e4004fd</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62cba3b4-ffe1-4785-ac80-d11d6187afd8</Key>
      <Name>Button Text Color</Name>
      <Alias>buttonTextColor</Alias>
      <Definition>02ff0d25-a214-452d-aef6-9d535d6b5a53</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>126e640b-eb0c-4601-bc40-cbd56f3fe1d0</Key>
      <Name>City</Name>
      <Alias>city</Alias>
      <Definition>14ee377f-d4a1-4ecf-a288-873026be913a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Company Address/Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b74d659-73e8-452f-8d44-e53f4c887682</Key>
      <Name>Company Name</Name>
      <Alias>companyName</Alias>
      <Definition>23207005-1527-4b84-a11c-c0377b70e7ad</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Company Address/Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41646133-4652-4b74-acf0-57a0eb8aece0</Key>
      <Name>Company URL</Name>
      <Alias>companyURL</Alias>
      <Definition>d5eabdb3-6c64-4940-aa4b-6043c1effcf5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Company Address/Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>465ed54b-b277-47e9-ad39-5111bdc2b473</Key>
      <Name>Cookie Banner Active</Name>
      <Alias>cookieBannerActive</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eae0b933-af4b-4501-b518-6ef174dd2b59</Key>
      <Name>Custom CSS</Name>
      <Alias>customCSS</Alias>
      <Definition>3a6fb5e1-c8d8-42fa-baaa-ff36850a0d70</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e79ee30-3e3e-4ded-bfe1-abb48d48d107</Key>
      <Name>Dismiss Link Text</Name>
      <Alias>dismissLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1302e6cd-85ed-4934-aa12-d0f1c622f5d2</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>55d81b97-28bd-4812-ac4c-5d48d620c5ed</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Company Address/Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c7dc957-2a2e-4cac-a9c3-347f45314f6b</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>77976d9b-3b33-43aa-abbb-5ac65d20a46d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social URLs</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>721e2923-b775-4cf4-870e-6e9f72525c6c</Key>
      <Name>Footer Navigation</Name>
      <Alias>footerNavigation</Alias>
      <Definition>d8d6f121-1b24-4319-a629-ff9ad634367d</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Navigations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93e8fa30-df24-4471-b218-e45d05bbefad</Key>
      <Name>Google Tag Manager</Name>
      <Alias>googleTagManager</Alias>
      <Definition>acfb90b4-4935-45cf-ae06-d3fabb001801</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Log in to your GTM account, open the container and click the ID that looks like this: <b>GTM-XXXXXX</b>.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91081344-e7e1-46af-b0d3-3a1afc523eae</Key>
      <Name>Hello Bar</Name>
      <Alias>helloBar</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0fe7aac-e367-4ba6-ad63-40f56299694a</Key>
      <Name>Instagram</Name>
      <Alias>instagram</Alias>
      <Definition>49428b8e-54ca-4521-8717-0e21fd92db11</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Social URLs</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49eb43ae-92df-4414-8acf-d18b16afc1b4</Key>
      <Name>Json LD</Name>
      <Alias>jsonLD</Alias>
      <Definition>0709da7e-e11a-4375-a70d-acb08bb89fcc</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7544e24b-8680-4ae4-bf84-e8902e2c1450</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f36bb6b-85a4-45c9-ac02-6dfa5b8a499a</Key>
      <Name>Linked In</Name>
      <Alias>linkedIn</Alias>
      <Definition>49c4abc1-5302-4555-b5a5-b26cef13357a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Social URLs</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>254936ff-0ce0-4447-be87-ae67cb47a900</Key>
      <Name>Link Text</Name>
      <Alias>linkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9a53505-9766-403a-a0ab-24d06e681b74</Key>
      <Name>Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>7e860709-15dc-4614-a64a-8272d56ea63c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e0cb318-4057-4b3d-a359-d2fcf239affe</Key>
      <Name>Message</Name>
      <Alias>message</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4e755e4-34b1-4a5b-8a05-a5f8698ea2c1</Key>
      <Name>Phone</Name>
      <Alias>phone</Alias>
      <Definition>6af98c0e-8a82-4df3-825b-e18a3d8bc0ce</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Company Address/Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0233aea7-2259-4ad5-9e4d-29f8525cff89</Key>
      <Name>Position</Name>
      <Alias>position</Alias>
      <Definition>1233b9bf-1ed2-4692-9643-2de293e0c4f8</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfaf8f8c-b608-44c7-877d-ea005ba9c74d</Key>
      <Name>Site Title</Name>
      <Alias>siteTitle</Alias>
      <Definition>f9812339-dda1-4b5c-ab1f-f111c013268c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This title is used at the end of every page. ie. About Us - <b>Site Title</b>. Standard practice is usually the companies name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>262c678b-2880-4291-964e-a0f7068bf5e1</Key>
      <Name>State</Name>
      <Alias>state</Alias>
      <Definition>f3329e6c-354e-4398-acd6-9ccdfddf0634</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Company Address/Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a96f274-1e26-456e-8631-d6e119d6e1c4</Key>
      <Name>Text Color</Name>
      <Alias>textColor</Alias>
      <Definition>76eaff89-f480-4ee4-8a9d-6f45f65cfaee</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2468212-d425-4643-adc4-63c52039cae4</Key>
      <Name>Twitter</Name>
      <Alias>twitter</Alias>
      <Definition>3e4a270b-b087-4cde-9fc5-18b61f6107eb</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social URLs</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>16f07b41-b98a-4850-b321-ec457fd5e6d1</Key>
      <Name>Utility Navigation</Name>
      <Alias>utilityNavigation</Alias>
      <Definition>157e50be-2238-4b0f-b102-c7f7217ad52d</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40a1d840-48d4-4569-8bec-a881d96db0ca</Key>
      <Name>Youtube</Name>
      <Alias>youtube</Alias>
      <Definition>8b87ec79-d4ff-4eaa-ae18-715f51838748</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social URLs</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc21f434-1f85-4096-9ced-da7e4e3a010c</Key>
      <Name>Zip code</Name>
      <Alias>zipCode</Alias>
      <Definition>a09063fb-40d9-4acd-9251-270823e6ca6b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Company Address/Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Site</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Company Address/Info</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social URLs</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Navigations</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Cookie Banner</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>