<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8388135a-b648-4912-b698-54a578a5bb7a" Alias="threeColumns" Level="3">
  <Info>
    <Name>Three Columns</Name>
    <Icon>icon-three-columns color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content/Columns</Folder>
    <Compositions>
      <Composition Key="6cc68d64-cee4-4684-8a78-715600cc4373">twoColumns</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b427557c-0f64-4ba7-a360-de9e5233d831</Key>
      <Name>Third Column</Name>
      <Alias>columnThree</Alias>
      <Definition>28efd4d4-a212-4294-9efe-b0d79dccbb4c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>