<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69e0b95e-02a0-4734-819b-36e47eae3c25" Alias="twoColumns1" Level="3">
  <Info>
    <Name>2/3 Column with sidebar</Name>
    <Icon>icon-sidebar-column color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content/Columns</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e38cf7f7-32ab-46a1-aa99-068488f437b7</Key>
      <Name>Left Column</Name>
      <Alias>columnOne</Alias>
      <Definition>28efd4d4-a212-4294-9efe-b0d79dccbb4c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7969cecc-6e6d-467e-8cb1-210680868051</Key>
      <Name>Right Column</Name>
      <Alias>columnTwo</Alias>
      <Definition>28efd4d4-a212-4294-9efe-b0d79dccbb4c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2797b39-964e-4bf5-8282-d4f5964ce797</Key>
      <Name>Sidebar Left?</Name>
      <Alias>sidebarLeft</Alias>
      <Definition>1a6dacf9-5e07-4fdb-b612-852724edeb0e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you want the side bar on the left, check this box. Otherwise it will be on the right.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>