<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e83ff284-e0c9-4b1a-9241-4615429eecfe" Alias="Accordion - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Accordion - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>