<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8f535ee-27b8-4d16-940d-d6c523851bb1" Alias="Articulate Cropper" Level="1">
  <Info>
    <Name>Articulate Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "blogPost",
      "width": 200,
      "height": 200
    },
    {
      "alias": "square",
      "width": 480,
      "height": 480
    },
    {
      "alias": "thumbnail",
      "width": 50,
      "height": 50
    },
    {
      "alias": "wide",
      "width": 1024,
      "height": 512
    }
  ]
}]]></Config>
</DataType>