<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7b73cd9-1514-482f-b1fa-b504b4bd359a" Alias="Articulate Rich Text - Meta Description - Textarea" Level="1">
  <Info>
    <Name>Articulate Rich Text - Meta Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>