<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a72aeb12-5b28-4a47-b99a-fde14d49c1ac" Alias="Articulate Categories" Level="1">
  <Info>
    <Name>Articulate Categories</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "ArticulateCategories",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>