<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8b042bd-56ca-4983-913a-f81571ee232c" Alias="Articulate Post - Meta Description - Textarea" Level="1">
  <Info>
    <Name>Articulate Post - Meta Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>