<?xml version="1.0" encoding="utf-8"?>
<DataType Key="474c88ff-7a77-4574-921f-90b1c795a4f4" Alias="Articulate Archive - Hide from Top Navigation - Checkbox" Level="1">
  <Info>
    <Name>Articulate Archive - Hide from Top Navigation - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>