<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8404fdc-7667-4184-95c3-125b1d81314d" Alias="Articulate Tags" Level="1">
  <Info>
    <Name>Articulate Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "ArticulateTags",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>