<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31d931c7-ce89-40a1-934e-664be25a1e8c" Alias="Articulate Markdown" Level="1">
  <Info>
    <Name>Articulate Markdown</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": false,
  "DefaultValue": null
}]]></Config>
</DataType>