<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76df3e7d-57de-40aa-be23-2c6b0f6eac08" Alias="Articulate Archive - Hide from Top Navigation - Checkbox (1)" Level="1">
  <Info>
    <Name>Articulate Archive - Hide from Top Navigation - Checkbox (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>