<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cab9d648-efda-44a9-85d5-6a5f28ea8f4b" Alias="Articulate Authors - Hide from Top Navigation - Checkbox" Level="1">
  <Info>
    <Name>Articulate Authors - Hide from Top Navigation - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>