<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a93155b-fc7a-41bd-ab77-7db49beae05c" Alias="Banner With Text - Button Text - Textbox" Level="1">
  <Info>
    <Name>Banner With Text - Button Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>