<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29b7b46d-2cb8-4cd9-a42f-638b557a2aa0" Alias="Banner With Text - Link - Multi Url Picker" Level="1">
  <Info>
    <Name>Banner With Text - Link - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>