<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8891ab41-34e8-4622-8868-8413d9c9f8ba" Alias="Billboard - Billboard Options - Nested Content" Level="1">
  <Info>
    <Name>Billboard - Billboard Options - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "largeBillboard",
      "ncTabAlias": "Billboard",
      "nameTemplate": "Large Billboard // {{largeHeadline}}"
    },
    {
      "ncAlias": "billboardWithHeadline",
      "ncTabAlias": "Billboard",
      "nameTemplate": "Headline Billboard //  {{largeHeadline}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>