<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89b6d944-dcbc-43a7-b9c8-2001d67bb8a9" Alias="Blog Posts - Umbraco Navi Hide - Nesting Contently (1)" Level="1">
  <Info>
    <Name>Blog Posts - Umbraco Navi Hide - Nesting Contently (1)</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>