<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d78c8a4-c2b3-4d4b-9ed8-af93bf455493" Alias="Blog Posts - Blog Archive Node - Multinode Treepicker" Level="1">
  <Info>
    <Name>Blog Posts - Blog Archive Node - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>