<?xml version="1.0" encoding="utf-8"?>
<DataType Key="253358be-a42c-457f-9cbf-e2bdf6b629df" Alias="Blog Posts - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Blog Posts - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>