<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf0fb6d8-a710-4db3-8dce-d25eb8a76f1c" Alias="Buttons - Add a Button - Nested Content" Level="1">
  <Info>
    <Name>Buttons - Add a Button - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "button",
      "ncTabAlias": "Button",
      "nameTemplate": "Button - {{buttonLink[0]['name']}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>