<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02ef1a54-1278-4997-977d-7eb14b96646a" Alias="Button - Button Link - Multi Url Picker" Level="1">
  <Info>
    <Name>Button - Button Link - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>