<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c2c71c5-12bc-4a61-b2f1-2ac24fd6a2b1" Alias="Buttons - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Buttons - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>