<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00c3efef-555c-4948-b85a-8635cbfac701" Alias="Calls To Action - Umbraco Navi Hide - Nesting Contently (1)" Level="1">
  <Info>
    <Name>Calls To Action - Umbraco Navi Hide - Nesting Contently (1)</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>