<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0de78ccc-610b-47fd-a151-3b58d1c1bc88" Alias="Calls To Action - CTAs - Nested Content" Level="1">
  <Info>
    <Name>Calls To Action - CTAs - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "callsToAction",
      "ncTabAlias": "Call to Action",
      "nameTemplate": "CTA // {{ctaHeadline}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>