<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85c6e76b-d5ab-47b8-8c06-e84faf98c239" Alias="Calls To Action - Umbraco Navi Hide - Nesting Contently (2)" Level="1">
  <Info>
    <Name>Calls To Action - Umbraco Navi Hide - Nesting Contently (2)</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>