<?xml version="1.0" encoding="utf-8"?>
<DataType Key="417e8886-727f-4099-8880-e667df1fe0b1" Alias="Calls To Action - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Calls To Action - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>