<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2f502e4-7b1d-4937-8efa-517200634544" Alias="Calls To Action - Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Calls To Action - Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>