<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7a9bb78-f449-4987-ba1a-093dcee95cb3" Alias="Colors" Level="1">
  <Info>
    <Name>Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": true,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"black\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"white\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ff0000\",\"label\":\"red\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"818181\",\"label\":\"gray\"}"
    }
  ]
}]]></Config>
</DataType>