<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89344e7a-05ed-45b5-82be-6a29bedae7a9" Alias="Columns - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Columns - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>