<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37b2d200-3ee0-4a37-a157-979bac9066af" Alias="Columns - Column - Nested Content" Level="1">
  <Info>
    <Name>Columns - Column - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "columnItem",
      "ncTabAlias": "Content",
      "nameTemplate": "Column {{headline}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>