<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28efd4d4-a212-4294-9efe-b0d79dccbb4c" Alias="Column Modules" Level="1">
  <Info>
    <Name>Column Modules</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headlineWithText",
      "ncTabAlias": "Content",
      "nameTemplate": "Headline with Text // {{headline}}"
    },
    {
      "ncAlias": "formPicker",
      "ncTabAlias": "Properties",
      "nameTemplate": "Form Picker // {{headline}}"
    },
    {
      "ncAlias": "buttons",
      "ncTabAlias": "Content",
      "nameTemplate": "Buttons // {{headline}}"
    },
    {
      "ncAlias": "faqs",
      "ncTabAlias": "Content",
      "nameTemplate": "FAQs // {{headline}}"
    },
    {
      "ncAlias": "blogPosts",
      "ncTabAlias": "Properties",
      "nameTemplate": "Blog Posts // {{headline}}"
    },
    {
      "ncAlias": "table",
      "ncTabAlias": "Content",
      "nameTemplate": "Table // {{headline}}"
    },
    {
      "ncAlias": "featureCard",
      "ncTabAlias": "Content",
      "nameTemplate": "Feature Card // {{headline}}"
    },
    {
      "ncAlias": "testimonialItem",
      "ncTabAlias": "Properties",
      "nameTemplate": "Testimonial // {{personName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>