<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f89b28e-b463-49ef-95eb-80125b6417f0" Alias="Column Item - Column Options - Nested Content" Level="1">
  <Info>
    <Name>Column Item - Column Options - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headlineWithText",
      "ncTabAlias": "Content",
      "nameTemplate": "Headline With Text // {{headline}} {{description}}"
    },
    {
      "ncAlias": "insidePagePicker",
      "ncTabAlias": "Content",
      "nameTemplate": "Pages"
    },
    {
      "ncAlias": "faqs",
      "ncTabAlias": "Content",
      "nameTemplate": "FAQs"
    },
    {
      "ncAlias": "buttons",
      "ncTabAlias": "Content",
      "nameTemplate": "Buttons // {{headline}}"
    },
    {
      "ncAlias": "table",
      "ncTabAlias": "Content",
      "nameTemplate": "Table"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>