<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a6dacf9-5e07-4fdb-b612-852724edeb0e" Alias="23 Column with sidebar - Sidebar Right - Checkbox" Level="1">
  <Info>
    <Name>23 Column with sidebar - Sidebar Right - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>