<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2d90637-1574-4dd6-9951-f9890d64b9b1" Alias="Columns Sizes" Level="2">
  <Info>
    <Name>Columns Sizes</Name>
    <EditorAlias>FaIconButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Compositions</Folder>
  </Info>
  <Config><![CDATA[{
  "faIconButtons": [
    {
      "label": "1",
      "value": "col-md-12",
      "svg": ""
    },
    {
      "label": "2",
      "value": "col-md-6",
      "svg": ""
    },
    {
      "label": "3",
      "value": "col-md-4",
      "svg": ""
    },
    {
      "label": "4",
      "value": "col-md-3",
      "svg": ""
    }
  ],
  "showLabel": "1",
  "allowMultiple": "0"
}]]></Config>
</DataType>