<?xml version="1.0" encoding="utf-8"?>
<DataType Key="051123e9-b7de-4169-8d1c-8eda5a8c888d" Alias="23 Column with sidebar - Full Width - Checkbox" Level="1">
  <Info>
    <Name>23 Column with sidebar - Full Width - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>