<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d80c18a6-3727-4605-9742-6bb8956a98b6" Alias="Content Page - Grid - Grid layout" Level="1">
  <Info>
    <Name>Content Page - Grid - Grid layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "Layout",
        "sections": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "",
        "name": "1 Column",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ]
          }
        ]
      },
      {
        "name": "2 Columns",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ]
      },
      {
        "label": "",
        "name": "3 Columns",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      },
      {
        "name": "4 Columns",
        "areas": [
          {
            "grid": 3,
            "allowAll": true,
            "maxItems": 4
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [
      "RTE"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>