<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f849bab-ac89-488b-b724-53b3d33b94f2" Alias="FAQs - FAQ - Nested Content" Level="1">
  <Info>
    <Name>FAQs - FAQ - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "fAQ",
      "ncTabAlias": "Content",
      "nameTemplate": "FAQ // {{headingQuestion}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>