<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b6d3da2-4aea-40de-9199-80eaf59350ad" Alias="Feature Card - Link Text - Textbox" Level="1">
  <Info>
    <Name>Feature Card - Link Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>