<?xml version="1.0" encoding="utf-8"?>
<DataType Key="211b382c-f4f9-4173-b4a3-390c9e6fec64" Alias="Form - Form - Form Picker" Level="1">
  <Info>
    <Name>Form - Form - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>