<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f83063e8-3eaa-43c4-bd4a-f4914d98fc6e" Alias="Headline Billboard - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Headline Billboard - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>