<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d8e153e-a012-48eb-b1d0-4222e6dbf924" Alias="Headline With Text - Link - Multi Url Picker (1)" Level="1">
  <Info>
    <Name>Headline With Text - Link - Multi Url Picker (1)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>