<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8237e45b-66bc-4251-a2c0-172f914430a0" Alias="Home Page - Utility Navigation - Multi Url Picker" Level="1">
  <Info>
    <Name>Home Page - Utility Navigation - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>