<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba842df9-af50-41bc-816d-229fb3a0ec76" Alias="Home Page - JSON LD - Textarea" Level="1">
  <Info>
    <Name>Home Page - JSON LD - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>