<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e9862d2-9543-460b-9675-c5de679c2445" Alias="Home Page - Footer Navigation - Multi Url Picker" Level="1">
  <Info>
    <Name>Home Page - Footer Navigation - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>