<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0d294c5-07b3-44e4-a733-5234f464389b" Alias="Home Page - Utility Navigation - Multinode Treepicker" Level="1">
  <Info>
    <Name>Home Page - Utility Navigation - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>