<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7affc69-905e-4611-97a9-40e7a261a485" Alias="Landing Page - FeaturesBenefits - Nested Content" Level="1">
  <Info>
    <Name>Landing Page - FeaturesBenefits - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "callsToAction",
      "ncTabAlias": "Call to Action",
      "nameTemplate": "Call To Action - {{headline}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>