<?xml version="1.0" encoding="utf-8"?>
<DataType Key="baa8fb03-23c1-4f44-860c-012feade4662" Alias="Landing Page - Form Picker - Form Picker" Level="1">
  <Info>
    <Name>Landing Page - Form Picker - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>