<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f009314f-e640-4b56-8d60-09683e4959a7" Alias="Large Billboard - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Large Billboard - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>