<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53a9e8a7-b635-425c-9459-6830d99dcdfd" Alias="Large Billboard - Button Link - Multi Url Picker" Level="1">
  <Info>
    <Name>Large Billboard - Button Link - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>