<?xml version="1.0" encoding="utf-8"?>
<DataType Key="024c0732-6f37-4ea1-9db4-403baeeb81b3" Alias="MarginPadding - Margin - Dropdown" Level="1">
  <Info>
    <Name>MarginPadding - Margin - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "margin-small"
    },
    {
      "id": 2,
      "value": "margin-medium"
    },
    {
      "id": 3,
      "value": "margin-large"
    }
  ]
}]]></Config>
</DataType>