<?xml version="1.0" encoding="utf-8"?>
<DataType Key="630f9248-0856-4f1b-baa7-96f7c2c1056b" Alias="MarginPadding - Margin - Nested Content" Level="1">
  <Info>
    <Name>MarginPadding - Margin - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "marginPadding",
      "ncTabAlias": "Margin",
      "nameTemplate": "Margin"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>