<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29a5b6f5-8445-4fb8-ace5-dabf596a003f" Alias="Margin Left - Textbox" Level="1">
  <Info>
    <Name>Margin Left - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>