<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae167190-3018-41c9-b475-4403aac90ae5" Alias="MarginPadding - Margin Left - Numeric" Level="1">
  <Info>
    <Name>MarginPadding - Margin Left - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>