<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6000660f-2680-4581-812d-4f309246df1e" Alias="MarginPadding - Div ID - Textbox" Level="1">
  <Info>
    <Name>MarginPadding - Div ID - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>