<?xml version="1.0" encoding="utf-8"?>
<DataType Key="842af38c-7b9a-441b-8f9b-b1a2c5e7fe93" Alias="MarginPadding - Margin Bottom - Numeric" Level="1">
  <Info>
    <Name>MarginPadding - Margin Bottom - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>