<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2c1e0a0-7d48-422c-a1fe-732d01ff23a8" Alias="MarginPadding - Padding Top - Numeric" Level="1">
  <Info>
    <Name>MarginPadding - Padding Top - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>