<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62858ad8-e6d2-4c93-977f-422205739234" Alias="Margin Top - Textbox" Level="1">
  <Info>
    <Name>Margin Top - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>