<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1e4b43e-20cd-4408-86c1-7543fa5a13da" Alias="MarginPadding - Padding Left - Numeric" Level="1">
  <Info>
    <Name>MarginPadding - Padding Left - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>