<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c3495f3-af2b-4ff1-9fc6-0dceffb9db98" Alias="MarginPadding - Custom Class - Textbox" Level="1">
  <Info>
    <Name>MarginPadding - Custom Class - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>