<?xml version="1.0" encoding="utf-8"?>
<DataType Key="200a339c-7085-4627-b7d3-b95c327df0e0" Alias="MarginPadding - Padding - Dropdown" Level="1">
  <Info>
    <Name>MarginPadding - Padding - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "padding-small"
    },
    {
      "id": 2,
      "value": "padding-medium"
    },
    {
      "id": 3,
      "value": "padding-large"
    }
  ]
}]]></Config>
</DataType>