<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3d234f9-945f-4478-a0aa-f37beefaf0fb" Alias="MarginPadding - Margin Top - Numeric" Level="1">
  <Info>
    <Name>MarginPadding - Margin Top - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>