<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6044cf18-5094-4fca-a4ec-993760d0070d" Alias="MarginPadding - Padding Bottom - Numeric" Level="1">
  <Info>
    <Name>MarginPadding - Padding Bottom - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>