<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8bf68440-ec9e-42fa-acc1-d7ad7af8980b" Alias="MarginPadding - Padding Right - Numeric" Level="1">
  <Info>
    <Name>MarginPadding - Padding Right - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>