<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0bd5543e-5ccb-4d8f-8f21-bbc0b8e7f9bd" Alias="Margin Bottom - Textbox" Level="1">
  <Info>
    <Name>Margin Bottom - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>