<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b653fb95-fc57-4587-bc6f-753c2cdbeb87" Alias="MarginPadding - Padding - Nested Content" Level="1">
  <Info>
    <Name>MarginPadding - Padding - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "marginPadding",
      "ncTabAlias": "Padding",
      "nameTemplate": "Padding"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>