<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5e382b9-bde7-4c73-9491-aa0f570ddf20" Alias="Master - Scripts - Label" Level="1">
  <Info>
    <Name>Master - Scripts - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>