<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9c90f5c-4364-4bd4-a86a-5e2d3bd995b5" Alias="Master - Page Title - Textbox" Level="1">
  <Info>
    <Name>Master - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>