<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1068353-4a74-438b-a4b8-85e04b7d47a8" Alias="Master - Meta Description - Textarea" Level="1">
  <Info>
    <Name>Master - Meta Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 160,
  "Rows": null
}]]></Config>
</DataType>