<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ac6e383-6aaa-4a42-a177-699c4af26e0d" Alias="Master - Preview Content - Label" Level="1">
  <Info>
    <Name>Master - Preview Content - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>