<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cae6e7a0-a481-4e59-a0e5-3cf342ba9a3f" Alias="Modules - Content Layout" Level="1">
  <Info>
    <Name>Modules - Content Layout</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "oneColumn",
      "ncTabAlias": "Properties",
      "nameTemplate": "One Column --- 1) {{columnOne[0][\"name\"]}}"
    },
    {
      "ncAlias": "twoColumns",
      "ncTabAlias": "Properties",
      "nameTemplate": "Two Columns --- 1) {{columnOne[0][\"name\"]}} --- 2) {{columnTwo[0][\"name\"]}}"
    },
    {
      "ncAlias": "threeColumns",
      "ncTabAlias": "Properties",
      "nameTemplate": "Three Columns --- 1) {{columnOne[0][\"name\"]}} --- 2) {{columnTwo[0][\"name\"]}} --- 3) {{columnThree[0][\"name\"]}}"
    },
    {
      "ncAlias": "twoColumns1",
      "ncTabAlias": "Properties",
      "nameTemplate": "2/3 Columns --- 1) {{columnOne[0][\"name\"]}} --- 2) {{columnTwo[0][\"name\"]}} --- 3) {{columnThree[0][\"name\"]}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>