<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98ec7db1-838f-4373-b97b-71168091a601" Alias="Module Script - Scripts - Textarea" Level="1">
  <Info>
    <Name>Module Script - Scripts - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>