<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db9d5907-f5d1-451c-a6d5-6843f1b5329e" Alias="Modules" Level="1">
  <Info>
    <Name>Modules</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "billboard",
      "ncTabAlias": "Billboard",
      "nameTemplate": "Billboard // {{billboardOptions[0][\"name\"]}}"
    },
    {
      "ncAlias": "blogPosts",
      "ncTabAlias": "Properties",
      "nameTemplate": "Blog Posts // {{headline}}"
    },
    {
      "ncAlias": "callsToAction",
      "ncTabAlias": "Properties",
      "nameTemplate": "Call To Actions // {{headline}}"
    },
    {
      "ncAlias": "textWithImage",
      "ncTabAlias": "Content",
      "nameTemplate": "Text with Image // {{headline}} {{copy | ncRichText}}"
    },
    {
      "ncAlias": "buttons",
      "ncTabAlias": "Content",
      "nameTemplate": "Buttons // {{headline}} {{copy | ncRichText}} {{buttonText}}"
    },
    {
      "ncAlias": "columns",
      "ncTabAlias": "Properties",
      "nameTemplate": "Columns  // {{headline}} {{description | ncRichText}}"
    },
    {
      "ncAlias": "video",
      "ncTabAlias": "Content",
      "nameTemplate": "Video // {{headline}}"
    },
    {
      "ncAlias": "formPicker",
      "ncTabAlias": "Properties",
      "nameTemplate": "Form // {{headline}}"
    },
    {
      "ncAlias": "faqs",
      "ncTabAlias": "Content",
      "nameTemplate": "Accordion // {{headline}}"
    },
    {
      "ncAlias": "pagePicker",
      "ncTabAlias": "Content",
      "nameTemplate": "Pages // {{headline}}"
    },
    {
      "ncAlias": "moduleScript",
      "ncTabAlias": "Properties",
      "nameTemplate": "Module Script // {{headline}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>