<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e894e705-896b-44ae-85b9-37b2307638aa" Alias="Navigation - Main Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Navigation - Main Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>