<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9435aa13-0879-4793-a8aa-88c724c9cc4f" Alias="Navigation - Dropdown Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Navigation - Dropdown Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>