<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71af6e32-5337-45b0-b829-103b0d3cd798" Alias="Page Picker - Pages - Multi Url Picker" Level="1">
  <Info>
    <Name>Page Picker - Pages - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>