<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71ea1f73-4fae-44f9-8e7b-bd9afe3789bc" Alias="Page Picker - PAges - Multi Url Picker (1)" Level="1">
  <Info>
    <Name>Page Picker - PAges - Multi Url Picker (1)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>