<?xml version="1.0" encoding="utf-8"?>
<DataType Key="791af91f-5cf8-4f26-8bf2-db7d625ede99" Alias="Page Picker - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Page Picker - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>