<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3329e6c-354e-4398-acd6-9ccdfddf0634" Alias="Site Settings - State - Textbox" Level="1">
  <Info>
    <Name>Site Settings - State - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>