<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a6fb5e1-c8d8-42fa-baaa-ff36850a0d70" Alias="Site Settings - Custom CSS - Textarea" Level="1">
  <Info>
    <Name>Site Settings - Custom CSS - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>