<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acfb90b4-4935-45cf-ae06-d3fabb001801" Alias="Site Settings - Google Tag Manager - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Google Tag Manager - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>