<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1233b9bf-1ed2-4692-9643-2de293e0c4f8" Alias="Site Settings - Position - Dropdown" Level="1">
  <Info>
    <Name>Site Settings - Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "top"
    },
    {
      "id": 2,
      "value": "bottom"
    }
  ]
}]]></Config>
</DataType>