<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23207005-1527-4b84-a11c-c0377b70e7ad" Alias="Site Settings - Company Name - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Company Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>