<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0709da7e-e11a-4375-a70d-acb08bb89fcc" Alias="Site Settings - Jason LD - Textarea" Level="1">
  <Info>
    <Name>Site Settings - Jason LD - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>