<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49428b8e-54ca-4521-8717-0e21fd92db11" Alias="Site Settings - Instagram - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Instagram - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>