<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca5a621f-83d3-41dc-b488-8ed204258d98" Alias="Site Settings - TitleMeta - Seo Visualizer" Level="1">
  <Info>
    <Name>Site Settings - TitleMeta - Seo Visualizer</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>