<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b87ec79-d4ff-4eaa-ae18-715f51838748" Alias="Site Settings - Youtube - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Youtube - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>