<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5eabdb3-6c64-4940-aa4b-6043c1effcf5" Alias="Site Settings - Company URL - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Company URL - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>