<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6af98c0e-8a82-4df3-825b-e18a3d8bc0ce" Alias="Site Settings - Phone - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Phone - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>