<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e4a270b-b087-4cde-9fc5-18b61f6107eb" Alias="Site Settings - Twitter - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Twitter - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>