<?xml version="1.0" encoding="utf-8"?>
<DataType Key="157e50be-2238-4b0f-b102-c7f7217ad52d" Alias="Site Settings - Utility Navigation - Multi Url Picker" Level="1">
  <Info>
    <Name>Site Settings - Utility Navigation - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>