<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9dc8dd2-9a2d-490d-8c3f-00811e4004fd" Alias="Site Settings - Button Color - Color Picker U8" Level="1">
  <Info>
    <Name>Site Settings - Button Color - Color Picker U8</Name>
    <EditorAlias>ColorPickerU8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "showColorValue": "0",
  "showPaletteOnly": "0",
  "enableTransparency": "0",
  "preferredFormat": "hex",
  "predefinedColor": []
}]]></Config>
</DataType>