<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a09063fb-40d9-4acd-9251-270823e6ca6b" Alias="Site Settings - Zip code - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Zip code - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>