<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e860709-15dc-4614-a64a-8272d56ea63c" Alias="Site Settings - Main Navigation - Nested Content" Level="1">
  <Info>
    <Name>Site Settings - Main Navigation - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navigation",
      "ncTabAlias": "Content",
      "nameTemplate": "Navigation Item - {{mainLink[0][\"name\"]}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>