<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55d81b97-28bd-4812-ac4c-5d48d620c5ed" Alias="Site Settings - Email - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Email - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>