<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77976d9b-3b33-43aa-abbb-5ac65d20a46d" Alias="Site Settings - Facebook - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Facebook - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>