<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49c4abc1-5302-4555-b5a5-b26cef13357a" Alias="Site Settings - Linked In - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Linked In - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>