<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df0f4aa-7d97-4a29-826e-885787ff2b2b" Alias="Site Settings - Address - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Address - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>