<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9812339-dda1-4b5c-ab1f-f111c013268c" Alias="Site Settings - Site Title - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Site Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>