<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14ee377f-d4a1-4ecf-a288-873026be913a" Alias="Site Settings - City - Textbox" Level="1">
  <Info>
    <Name>Site Settings - City - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>