<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42b0ecfa-bfc3-4a6b-bc15-c2bf195316f4" Alias="Site Settings - Background Color - Color Picker U8" Level="1">
  <Info>
    <Name>Site Settings - Background Color - Color Picker U8</Name>
    <EditorAlias>ColorPickerU8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "showColorValue": "0",
  "showPaletteOnly": "0",
  "enableTransparency": "0",
  "preferredFormat": "hex",
  "predefinedColor": []
}]]></Config>
</DataType>