<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dd86fcc-bc44-4700-a7a7-15820eb3e8a2" Alias="Tables" Level="2">
  <Info>
    <Name>Tables</Name>
    <EditorAlias>Our.Umbraco.Tables</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>