<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d62a306-81bb-4cde-8e11-0438d1c5e8ff" Alias="Text with Image - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Text with Image - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>