<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47f9feac-4fea-4dfe-85c7-0002e0b9bf20" Alias="Text with Image - Margin - Nested Content" Level="1">
  <Info>
    <Name>Text with Image - Margin - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textWithImage",
      "ncTabAlias": "Margin and Padding",
      "nameTemplate": "Margin & Padding"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>