<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2aa3cb2a-912a-4058-93c2-de080cfe3eea" Alias="Two Columns - Full Width - Checkbox" Level="1">
  <Info>
    <Name>Two Columns - Full Width - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>