<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db2c4854-099f-406f-a60e-df79c6268de8" Alias="Video - Umbraco Navi Hide - Nesting Contently" Level="1">
  <Info>
    <Name>Video - Umbraco Navi Hide - Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>