<?xml version="1.0" encoding="utf-8"?>
<Macro Key="91467be2-ccb2-4c15-9f56-d5e2c17fa665" Alias="CallToAction" Level="0">
  <Name>Call to Action</Name>
  <MacroSource>~/Views/MacroPartials/Call to Action.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Description</Name>
      <Alias>description</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TextArea</EditorAlias>
    </Property>
    <Property>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>Image</Name>
      <Alias>image</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>