<?xml version="1.0" encoding="utf-8"?>
<Content Key="33f61a86-e532-4199-afd2-3a0f1ff308dc" Alias="Error" Level="2">
  <Info>
    <Parent Key="a21aa583-36df-48cf-9de9-0f1fc24d1914">Home</Parent>
    <Path>/Home/Error</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2019-05-20T15:22:04</CreateDate>
    <NodeName Default="Error" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="285555e9-b465-4f3a-ad15-57a07c717e84">ContentPage</Template>
  </Info>
  <Properties>
    <adLandingPage>
      <Value><![CDATA[]]></Value>
    </adLandingPage>
    <contentRows>
      <Value><![CDATA[[
  {
    "key": "5f312763-9b1a-4d80-a465-f501a73ea5bc",
    "name": "Columns  //",
    "ncContentTypeAlias": "columns",
    "headline": "",
    "description": "",
    "column": [
      {
        "key": "f27955ca-e012-43d3-9a2c-c3951a01ed50",
        "name": "One Column --- 1)",
        "ncContentTypeAlias": "oneColumn",
        "columnOne": [
          {
            "key": "fd674e7c-0efd-45a1-83dc-2bef8ff994ce",
            "name": "Headline with Text",
            "ncContentTypeAlias": "headlineWithText",
            "headline": "Page Not Found",
            "description": "<p><strong>We could not find the page you were looking for. Some reasons might be:</strong></p>\n<ul>\n<li>a mis-typed URL (or an out of date bookmark/favorite)</li>\n<li>a Search Engine link that is out of date</li>\n<li>an internal broken link that we haven't noticed</li>\n</ul>\n<p>Try going back to the <a href=\"/\">Home Page</a> or use the Search function at the top of the page.</p>",
            "image": "",
            "link": []
          }
        ],
        "fullWidth": 0
      }
    ],
    "advancedColumnSettings": null
  },
  {
    "key": "eb32ad93-5c5f-40f7-aad4-1401a0538726",
    "name": "Billboard",
    "ncContentTypeAlias": "billboard",
    "billboardOptions": [
      {
        "key": "eedd1283-72f1-4450-be7c-ab320ceec66b",
        "name": "Large Billboard //",
        "ncContentTypeAlias": "largeBillboard",
        "largeHeadline": "",
        "smallHeadline": "",
        "description": "",
        "buttonText": null,
        "buttonLink": [],
        "backgroundImage": "umb://media/4e2b0afb97f942f3ba217b1603493d38",
        "umbracoNaviHide": ""
      }
    ],
    "umbracoNaviHide": ""
  }
]]]></Value>
    </contentRows>
    <footerScripts>
      <Value><![CDATA[]]></Value>
    </footerScripts>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <noRel>
      <Value><![CDATA[]]></Value>
    </noRel>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <previewContent>
      <Value><![CDATA[]]></Value>
    </previewContent>
    <previewDescription>
      <Value><![CDATA[<p>Description</p>]]></Value>
    </previewDescription>
    <previewImage>
      <Value><![CDATA[umb://media/7e026c4f3365424aab00cfc550eb551b]]></Value>
    </previewImage>
    <scripts>
      <Value><![CDATA[]]></Value>
    </scripts>
    <socialDescription>
      <Value><![CDATA[]]></Value>
    </socialDescription>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>