<?xml version="1.0" encoding="utf-8"?>
<Content Key="a21aa583-36df-48cf-9de9-0f1fc24d1914" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2019-02-28T12:46:07</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a6417f7-6f64-4b53-ba2b-cc31f9d0e506">HomePage</Template>
  </Info>
  <Properties>
    <adLandingPage>
      <Value><![CDATA[0]]></Value>
    </adLandingPage>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <footerScripts>
      <Value><![CDATA[]]></Value>
    </footerScripts>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <jSONLD>
      <Value><![CDATA[]]></Value>
    </jSONLD>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <noRel>
      <Value><![CDATA[0]]></Value>
    </noRel>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <previewContent>
      <Value><![CDATA[]]></Value>
    </previewContent>
    <previewDescription>
      <Value><![CDATA[]]></Value>
    </previewDescription>
    <previewImage>
      <Value><![CDATA[]]></Value>
    </previewImage>
    <scripts>
      <Value><![CDATA[]]></Value>
    </scripts>
    <socialDescription>
      <Value><![CDATA[]]></Value>
    </socialDescription>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>