<?xml version="1.0" encoding="utf-8"?>
<Content Key="04986067-2e43-4fe4-ae16-bb743a402820" Alias="Module Boilerplate" Level="2">
  <Info>
    <Parent Key="a21aa583-36df-48cf-9de9-0f1fc24d1914">Home</Parent>
    <Path>/Home/ModuleBoilerplate</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2020-10-15T10:46:15</CreateDate>
    <NodeName Default="Module Boilerplate" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="285555e9-b465-4f3a-ad15-57a07c717e84">ContentPage</Template>
  </Info>
  <Properties>
    <adLandingPage>
      <Value><![CDATA[0]]></Value>
    </adLandingPage>
    <contentRows>
      <Value><![CDATA[[
  {
    "key": "6a7d2720-1dc5-4f86-b576-0063f77f630b",
    "name": "Billboard // Large Billboard // Large Billboard Headline",
    "ncContentTypeAlias": "billboard",
    "billboardOptions": [
      {
        "key": "2d0505c6-816a-45c0-bc89-d42a169b9b39",
        "name": "Large Billboard // Large Billboard Headline",
        "ncContentTypeAlias": "largeBillboard",
        "largeHeadline": "Large Billboard Headline",
        "smallHeadline": "Large Billboard Subheadline",
        "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta efficitur urna, nec suscipit orci mollis nec. Maecenas auctor libero a magna fermentum, non aliquet ex mattis.</p>",
        "buttonLink": [
          {
            "name": "Linking to Home",
            "udi": "umb://document/a21aa58336df48cf9de90f1fc24d1914"
          }
        ],
        "backgroundImage": "",
        "umbracoNaviHide": "",
        "margin": [],
        "padding": [
          "padding-large"
        ],
        "customClass": ""
      },
      {
        "key": "c408a36d-6d8f-4bdd-a1cb-fc8120d19592",
        "name": "Headline Billboard // Headline Billboard Headline",
        "ncContentTypeAlias": "billboardWithHeadline",
        "largeHeadline": "Headline Billboard Headline",
        "backgroundImage": "",
        "umbracoNaviHide": "",
        "margin": [],
        "padding": [
          "padding-large"
        ],
        "customClass": "",
        "customID": "",
        "backgroundColor": {
          "value": "000000",
          "label": "black",
          "sortOrder": 0,
          "id": "1"
        },
        "textColor": {
          "value": "ffffff",
          "label": "white",
          "sortOrder": 1,
          "id": "2"
        }
      }
    ],
    "umbracoNaviHide": ""
  },
  {
    "key": "875c4957-6a1f-431a-bb34-0a2804c97a87",
    "name": "Call To Actions // Call to Actions Headline",
    "ncContentTypeAlias": "callsToAction",
    "headline": "Call to Actions Headline",
    "cTAs": [
      {
        "key": "f2bd7af2-f48e-4a75-b5b5-132d470f3224",
        "name": "CTA // CTA 1 Headline",
        "ncContentTypeAlias": "callsToAction",
        "ctaHeadline": "CTA 1 Headline",
        "subheadline": "CTA 1 Subheadline",
        "description": "<div id=\"bannerR\">\n<div id=\"div-gpt-ad-1474537762122-3\">\n<div id=\"google_ads_iframe_/15188745/Lipsum-Unit4_0__container__\">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum.</div>\n</div>\n</div>",
        "image": "",
        "link": [
          {
            "name": "Home",
            "udi": "umb://document/a21aa58336df48cf9de90f1fc24d1914"
          }
        ]
      },
      {
        "key": "5a28c4c5-920a-4536-b108-96e86c6c1780",
        "name": "CTA // CTA 2 Headline",
        "ncContentTypeAlias": "callsToAction",
        "ctaHeadline": "CTA 2 Headline",
        "subheadline": "CTA 2 Subheadline",
        "description": "<div id=\"bannerR\">\n<div id=\"div-gpt-ad-1474537762122-3\">\n<div id=\"google_ads_iframe_/15188745/Lipsum-Unit4_0__container__\">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum.</div>\n</div>\n</div>",
        "image": "",
        "link": [
          {
            "name": "Home",
            "udi": "umb://document/a21aa58336df48cf9de90f1fc24d1914"
          }
        ]
      },
      {
        "key": "5fc78821-e407-47f8-9fd1-17725cb381ed",
        "name": "CTA // CTA 3 Headline",
        "ncContentTypeAlias": "callsToAction",
        "ctaHeadline": "CTA 3 Headline",
        "subheadline": "CTA 3 Subheadline",
        "description": "<div id=\"bannerR\">\n<div id=\"div-gpt-ad-1474537762122-3\">\n<div id=\"google_ads_iframe_/15188745/Lipsum-Unit4_0__container__\">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum.</div>\n</div>\n</div>",
        "image": "",
        "link": [
          {
            "name": "Home",
            "udi": "umb://document/a21aa58336df48cf9de90f1fc24d1914"
          }
        ]
      }
    ],
    "backgroundColor": "",
    "umbracoNaviHide": ""
  },
  {
    "key": "25dc6a11-bdce-4130-a794-219e0fbc2787",
    "name": "Text with Image // Text with Image Headline Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.",
    "ncContentTypeAlias": "textWithImage",
    "headline": "Text with Image Headline",
    "copy": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
    "image": "umb://media/4e2b0afb97f942f3ba217b1603493d38",
    "imagePlacement": [
      "Image Left"
    ],
    "imageSubtitle": "<p>Image Subtitle</p>",
    "backgroundColor": {
      "value": "ff0000",
      "label": "red",
      "sortOrder": 2,
      "id": "3"
    },
    "headlineColor": {
      "value": "ffffff",
      "label": "white",
      "sortOrder": 1,
      "id": "2"
    },
    "textColor": {
      "value": "ffffff",
      "label": "white",
      "sortOrder": 1,
      "id": "2"
    },
    "margin": [],
    "padding": [
      "padding-large"
    ],
    "customClass": "",
    "customID": "",
    "umbracoNaviHide": ""
  },
  {
    "key": "1958cd58-e186-4044-94bd-eaedced10210",
    "name": "Buttons // This is a Button Module Headline Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.",
    "ncContentTypeAlias": "buttons",
    "headline": "This is a Button Module Headline",
    "copy": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
    "addAButton": [
      {
        "key": "d454fa09-5110-465b-b184-be4320ff2c36",
        "name": "Button - Button to Home",
        "ncContentTypeAlias": "button",
        "buttonLink": [
          {
            "name": "Button to Home",
            "udi": "umb://document/a21aa58336df48cf9de90f1fc24d1914"
          }
        ],
        "buttonColor": {
          "value": "000000",
          "label": "black",
          "sortOrder": 0,
          "id": "1"
        }
      }
    ],
    "umbracoNaviHide": ""
  },
  {
    "key": "bdf494a4-af4f-43da-96a5-31c34b399e05",
    "name": "Columns  // <p>Two Column Module Headline</p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.",
    "ncContentTypeAlias": "columns",
    "headline": "<p>Two Column Module Headline</p>",
    "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
    "column": [
      {
        "key": "7d8c27be-7da7-4881-915d-b76bc83cddd0",
        "name": "Two Columns --- 1) Headline with Text // Headline with Text headline --- 2) Headline with Text // Headline with Text Headline",
        "ncContentTypeAlias": "twoColumns",
        "columnOne": [
          {
            "key": "f3233d24-3cb1-4bff-8e7f-7c9c574a2002",
            "name": "Headline with Text // Headline with Text headline",
            "ncContentTypeAlias": "headlineWithText",
            "headline": "Headline with Text headline",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
            "image": "",
            "link": [],
            "backgroundColor": ""
          },
          {
            "key": "dc5bbea2-76ca-48a5-bcce-42b36f88c59e",
            "name": "Table // Table Module Headline",
            "ncContentTypeAlias": "table",
            "headline": "Table Module Headline",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum fringilla ante, a mattis quam dapibus ut. Fusce non pulvinar turpis. Nullam posuere.</p>",
            "tables": {
              "rows": [
                {
                  "backgroundColor": "none"
                },
                {
                  "backgroundColor": "none"
                }
              ],
              "columns": [
                {
                  "backgroundColor": "none"
                },
                {
                  "backgroundColor": "none"
                }
              ],
              "cells": [
                [
                  {
                    "rowIndex": 0,
                    "columnIndex": 0,
                    "value": "<p>Table Header</p>"
                  },
                  {
                    "rowIndex": 0,
                    "columnIndex": 1,
                    "value": "<p>Table Header</p>"
                  }
                ],
                [
                  {
                    "rowIndex": 1,
                    "columnIndex": 0,
                    "value": "<p>Column 1</p>"
                  },
                  {
                    "rowIndex": 1,
                    "columnIndex": 1,
                    "value": "<p>Column 2</p>"
                  }
                ]
              ],
              "name": "",
              "settings": {
                "backgroundColor": "none"
              }
            },
            "margin": [],
            "padding": [],
            "customClass": "",
            "customID": ""
          }
        ],
        "columnTwo": [
          {
            "key": "cf19e327-048e-4529-bfa7-b042bffc9504",
            "name": "Headline with Text // Headline with Text Headline",
            "ncContentTypeAlias": "headlineWithText",
            "headline": "Headline with Text Headline",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
            "image": "",
            "link": [],
            "backgroundColor": ""
          },
          {
            "key": "2413f820-3ec5-4ddf-8afd-329048d9ca0b",
            "name": "Feature Card // Feature Card Headline",
            "ncContentTypeAlias": "featureCard",
            "headline": "Feature Card Headline",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum fringilla ante, a mattis quam dapibus ut. Fusce non pulvinar turpis. Nullam posuere.</p>",
            "image": "",
            "link": [
              {
                "name": "Home",
                "udi": "umb://document/a21aa58336df48cf9de90f1fc24d1914"
              }
            ],
            "backgroundColor": "",
            "margin": [
              "margin-medium"
            ],
            "padding": [],
            "customClass": "",
            "customID": ""
          }
        ]
      }
    ],
    "backgroundColor": "",
    "margin": "",
    "padding": [
      "padding-medium"
    ],
    "customClass": "",
    "customID": "",
    "fullWidth": "0",
    "umbracoNaviHide": ""
  },
  {
    "key": "3b9ae8a7-7a47-4e88-b528-1fac466bb3e8",
    "name": "Video // Video Module Headline",
    "ncContentTypeAlias": "video",
    "headline": "Video Module Headline",
    "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
    "videoEmbedLink": "https://www.youtube.com/embed/C0DPdy98e4c",
    "videoPlacement": [
      "Video Right"
    ],
    "backgroundColor": {
      "value": "000000",
      "label": "black",
      "sortOrder": 0,
      "id": "1"
    },
    "textColor": {
      "value": "ffffff",
      "label": "white",
      "sortOrder": 1,
      "id": "2"
    },
    "headlineColor": {
      "value": "ffffff",
      "label": "white",
      "sortOrder": 1,
      "id": "2"
    },
    "margin": [],
    "padding": [],
    "customClass": "",
    "customID": "",
    "umbracoNaviHide": ""
  },
  {
    "key": "b9314ed1-5ca6-4d6f-9649-70550842a33a",
    "name": "Columns  // <p>Three Column Module Headline Fullwidth</p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.",
    "ncContentTypeAlias": "columns",
    "headline": "<p>Three Column Module Headline Fullwidth</p>",
    "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
    "column": [
      {
        "key": "68b1ee69-9b1d-45b2-96a6-1650f7953acd",
        "name": "Three Columns --- 1) Headline with Text // Center Aligned Headline with Text headline --- 2) Headline with Text // Headline with Text headline --- 3) Headline with Text // Headline with Text headline",
        "ncContentTypeAlias": "threeColumns",
        "columnOne": [
          {
            "key": "559f4105-5aec-44ae-9f7d-a441c5ed9d13",
            "name": "Headline with Text // Center Aligned Headline with Text headline",
            "ncContentTypeAlias": "headlineWithText",
            "headline": "Center Aligned Headline with Text headline",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
            "alignment": [
              "text-center"
            ],
            "image": "",
            "link": [],
            "backgroundColor": ""
          }
        ],
        "columnTwo": [
          {
            "key": "27b194b8-bd96-48b2-a04b-2438eb0abc45",
            "name": "Headline with Text // Headline with Text headline",
            "ncContentTypeAlias": "headlineWithText",
            "headline": "Headline with Text headline",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
            "alignment": "",
            "image": "",
            "link": [],
            "backgroundColor": ""
          },
          {
            "key": "4820e487-d94f-4f4b-9169-e15757522377",
            "name": "Testimonial // Testimonial name",
            "ncContentTypeAlias": "testimonialItem",
            "personDescription": "<p><strong>Testimonial description.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum fringilla ante, a mattis quam dapibus ut. Fusce non pulvinar turpis. Nullam posuere,</p>",
            "personName": "Testimonial name",
            "backgroundColor": {
              "value": "818181",
              "label": "gray",
              "sortOrder": 3,
              "id": "4"
            },
            "textColor": {
              "value": "ffffff",
              "label": "white",
              "sortOrder": 1,
              "id": "2"
            },
            "headlineColor": {
              "value": "ffffff",
              "label": "white",
              "sortOrder": 1,
              "id": "2"
            },
            "margin": "",
            "padding": "",
            "customClass": ""
          }
        ],
        "columnThree": [
          {
            "key": "c9d51cb3-280b-4393-abbe-cf01cfa264aa",
            "name": "Headline with Text // Headline with Text headline",
            "ncContentTypeAlias": "headlineWithText",
            "headline": "Headline with Text headline",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
            "alignment": "",
            "image": "",
            "link": [],
            "backgroundColor": ""
          }
        ]
      }
    ],
    "backgroundColor": "",
    "margin": "",
    "padding": [
      "padding-medium"
    ],
    "customClass": "",
    "customID": "",
    "fullWidth": "1",
    "umbracoNaviHide": ""
  },
  {
    "key": "73807787-d127-4b0f-bdea-65087b0c942d",
    "name": "Accordion // This is an accordion module headline",
    "ncContentTypeAlias": "faqs",
    "headline": "This is an accordion module headline",
    "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
    "fAQ": [
      {
        "key": "d678f931-b1e7-4a89-9011-b622b7004542",
        "name": "FAQ // <p>This is a Accordion Question 1</p>",
        "ncContentTypeAlias": "fAQ",
        "headingQuestion": "<p>This is a Accordion Question 1</p>",
        "answer": "<p>This is an Accordion Answer</p>"
      },
      {
        "key": "fb3626be-267b-43be-a73e-16f8c386f4ce",
        "name": "FAQ // <p>This is a Accordion Question 2</p>",
        "ncContentTypeAlias": "fAQ",
        "headingQuestion": "<p>This is a Accordion Question 2</p>",
        "answer": "<p>This is an Accordion Answer 2</p>"
      },
      {
        "key": "4023cc00-4604-415d-a4d5-75c064e1228f",
        "name": "FAQ // <p>This is a Accordion Question 3</p>",
        "ncContentTypeAlias": "fAQ",
        "headingQuestion": "<p>This is a Accordion Question 3</p>",
        "answer": "<p>This is an Accordion Answer 3</p>"
      }
    ],
    "backgroundColor": "",
    "margin": [],
    "padding": [],
    "customClass": "",
    "customID": "",
    "umbracoNaviHide": ""
  },
  {
    "key": "6224913b-e53f-435d-9acc-51eec2bb878b",
    "name": "Pages // This is a page picker module",
    "ncContentTypeAlias": "pagePicker",
    "headline": "This is a page picker module",
    "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit dapibus, varius neque vel, pretium lacus. Donec non mattis diam, quis luctus ipsum. Etiam in metus vel justo sodales aliquam. In felis nibh, porta mollis dolor eget, consequat mattis magna. Aenean orci tellus, consequat at augue sed, luctus faucibus odio.</p>",
    "pages": "umb://document/89bcd23f63324915b9dfb77fc0bc80f6,umb://document/33f61a86e5324199afd23a0f1ff308dc,umb://document/049860672e434fe4ae16bb743a402820,umb://document/a21aa58336df48cf9de90f1fc24d1914",
    "margin": [],
    "padding": [],
    "customClass": "",
    "customID": "",
    "backgroundColor": "",
    "umbracoNaviHide": ""
  }
]]]></Value>
    </contentRows>
    <footerScripts>
      <Value><![CDATA[]]></Value>
    </footerScripts>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <noRel>
      <Value><![CDATA[0]]></Value>
    </noRel>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <previewContent>
      <Value><![CDATA[]]></Value>
    </previewContent>
    <previewDescription>
      <Value><![CDATA[]]></Value>
    </previewDescription>
    <previewImage>
      <Value><![CDATA[]]></Value>
    </previewImage>
    <scripts>
      <Value><![CDATA[]]></Value>
    </scripts>
    <socialDescription>
      <Value><![CDATA[]]></Value>
    </socialDescription>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>