<?xml version="1.0" encoding="utf-8"?>
<Content Key="89bcd23f-6332-4915-b9df-b77fc0bc80f6" Alias="Privacy Policy" Level="2">
  <Info>
    <Parent Key="a21aa583-36df-48cf-9de9-0f1fc24d1914">Home</Parent>
    <Path>/Home/PrivacyPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2019-05-14T08:02:08</CreateDate>
    <NodeName Default="Privacy Policy" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="285555e9-b465-4f3a-ad15-57a07c717e84">ContentPage</Template>
  </Info>
  <Properties>
    <adLandingPage>
      <Value><![CDATA[]]></Value>
    </adLandingPage>
    <contentRows>
      <Value><![CDATA[[
  {
    "key": "103eaaee-e5ca-4540-aab9-3d5f1c0304a6",
    "name": "Columns  //",
    "ncContentTypeAlias": "columns",
    "headline": "",
    "description": "",
    "column": [
      {
        "key": "b4420c72-84d9-4816-95f1-da731f2a331e",
        "name": "One Column --- 1) Table",
        "ncContentTypeAlias": "oneColumn",
        "columnOne": [
          {
            "key": "ab5ce4d5-e5d4-4bd0-964a-33ef915bb060",
            "name": "Table",
            "ncContentTypeAlias": "table",
            "tables": {
              "rows": [
                {
                  "backgroundColor": "none"
                },
                {
                  "backgroundColor": "none"
                }
              ],
              "columns": [
                {
                  "backgroundColor": "none"
                },
                {
                  "backgroundColor": "none"
                }
              ],
              "cells": [
                [
                  {
                    "rowIndex": 0,
                    "columnIndex": 0,
                    "value": "<p>Testing</p>"
                  },
                  {
                    "rowIndex": 0,
                    "columnIndex": 1,
                    "value": "<p>Testing 2</p>"
                  }
                ],
                [
                  {
                    "rowIndex": 1,
                    "columnIndex": 0,
                    "value": "<p>Testing Again</p>"
                  },
                  {
                    "rowIndex": 1,
                    "columnIndex": 1,
                    "value": "<p>testing again 1</p>"
                  }
                ]
              ],
              "name": "",
              "settings": {
                "backgroundColor": "none"
              }
            }
          }
        ],
        "fullWidth": 0
      }
    ],
    "advancedColumnSettings": null
  },
  {
    "key": "e4b65b07-5c35-4dfb-88ad-94095baa23bc",
    "name": "Billboard",
    "ncContentTypeAlias": "billboard",
    "billboardOptions": [
      {
        "key": "3e77abcf-9de2-4692-8da9-a8a0d174e2c6",
        "name": "Large Billboard //",
        "ncContentTypeAlias": "largeBillboard",
        "largeHeadline": "",
        "smallHeadline": "",
        "description": "",
        "buttonText": null,
        "buttonLink": [],
        "backgroundImage": "umb://media/4e2b0afb97f942f3ba217b1603493d38",
        "umbracoNaviHide": ""
      }
    ],
    "umbracoNaviHide": ""
  }
]]]></Value>
    </contentRows>
    <footerScripts>
      <Value><![CDATA[]]></Value>
    </footerScripts>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <linkText>
      <Value><![CDATA[]]></Value>
    </linkText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <noRel>
      <Value><![CDATA[]]></Value>
    </noRel>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <previewContent>
      <Value><![CDATA[]]></Value>
    </previewContent>
    <previewDescription>
      <Value><![CDATA[]]></Value>
    </previewDescription>
    <previewImage>
      <Value><![CDATA[]]></Value>
    </previewImage>
    <scripts>
      <Value><![CDATA[]]></Value>
    </scripts>
    <socialDescription>
      <Value><![CDATA[]]></Value>
    </socialDescription>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>