<?xml version="1.0" encoding="utf-8"?>
<Content Key="95ba9bda-453c-49b1-9bc4-458b78188786" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2019-11-04T14:43:27</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[]]></Value>
    </address>
    <backgroundColor>
      <Value><![CDATA[#ff1212]]></Value>
    </backgroundColor>
    <buttonColor>
      <Value><![CDATA[#2f1414]]></Value>
    </buttonColor>
    <buttonTextColor>
      <Value><![CDATA[#ffffff]]></Value>
    </buttonTextColor>
    <city>
      <Value><![CDATA[]]></Value>
    </city>
    <companyName>
      <Value><![CDATA[]]></Value>
    </companyName>
    <companyURL>
      <Value><![CDATA[]]></Value>
    </companyURL>
    <cookieBannerActive>
      <Value><![CDATA[1]]></Value>
    </cookieBannerActive>
    <customCSS>
      <Value><![CDATA[]]></Value>
    </customCSS>
    <dismissLinkText>
      <Value><![CDATA[Close this pop-up]]></Value>
    </dismissLinkText>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <footerNavigation>
      <Value><![CDATA[[]]]></Value>
    </footerNavigation>
    <googleTagManager>
      <Value><![CDATA[]]></Value>
    </googleTagManager>
    <helloBar>
      <Value><![CDATA[<p>Testing the hello bar, <a href="/{localLink:umb://document/049860672e434fe4ae16bb743a402820}" title="Test Content">this is a link</a>.</p>]]></Value>
    </helloBar>
    <instagram>
      <Value><![CDATA[]]></Value>
    </instagram>
    <jsonLD>
      <Value><![CDATA[]]></Value>
    </jsonLD>
    <link>
      <Value><![CDATA[/privacy-policy/]]></Value>
    </link>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <linkText>
      <Value><![CDATA[Goto Privacy]]></Value>
    </linkText>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "f098aa39-ed6c-4134-bfd4-f3772ef02fd0",
    "name": "Navigation Item - Home Test",
    "ncContentTypeAlias": "navigation",
    "mainLink": [
      {
        "name": "Test Content",
        "udi": "umb://document/049860672e434fe4ae16bb743a402820"
      }
    ],
    "dropdownLinks": []
  }
]]]></Value>
    </mainNavigation>
    <message>
      <Value><![CDATA[This is a message test]]></Value>
    </message>
    <phone>
      <Value><![CDATA[]]></Value>
    </phone>
    <position>
      <Value><![CDATA[["bottom"]]]></Value>
    </position>
    <siteTitle>
      <Value><![CDATA[]]></Value>
    </siteTitle>
    <state>
      <Value><![CDATA[]]></Value>
    </state>
    <textColor>
      <Value><![CDATA[#ffffff]]></Value>
    </textColor>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
    <utilityNavigation>
      <Value><![CDATA[[]]]></Value>
    </utilityNavigation>
    <youtube>
      <Value><![CDATA[]]></Value>
    </youtube>
    <zipCode>
      <Value><![CDATA[]]></Value>
    </zipCode>
  </Properties>
</Content>